# Don't add nginx config 
/nginx

# ignore local development files
/static_collected
/venv
courtbot_db

# Ignoring git and cache folders
.git
.cache

node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
.vscode
env
static/frontend
**/__pycache__
**/*.pyc