{% extends "case_manager/base.html" %}
{% block title %}Court Forms — {{ block.super }}{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        <h1 class="title">Forms Library</h1>
        <h2 class="subtitle">The following forms are available.</h2>
                                                <ul class="fa-ul">
                                            {% for form in object_list %}
                                                <li><span class="fa-li"><i class="fas fa-file-word"></i></span>
                                                    <a href="{% url 'paper_pusher:blank_form' form_pk=form.pk %}">
                                                        {{ form.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>

    </div>

</div>

{% endblock %}
