{% extends "case_manager/base.html" %}
{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title">Welcome to Your Courts Online</h1>
            <h2 class="subtitle">Provided by the Harris County Criminal Courts at Law</h2>
            <div class="content is-large"><em>Your Courts Online</em> provides public information regarding all pending Class A and Class
                B misdemeanor cases pending in Harris County, Texas.
            </div>
        </div>
    </section>

{% endblock %}
