{% extends "case_manager/base.html" %} {% block content %}

<section class="section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Welcome to Court 8</p>
    </header>
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Occupational Drivers License</p>
    </header>
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
</section>

{% endblock %}
