{% extends "case_manager/base.html" %}
{% block title %}Case Search — {{ block.super }}{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <h1 class="title">Case Search</h1>
        <h2 class="subtitle">Look up your next court date and more using our automated system</h2>
        <div class="form">
            <form enctype="multipart/form-data" method="POST">
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        {{ field }}
                        {% endfor %}
                    </div>
                    <div class="control">
                        <input type="submit" value="Search" class="button is-primary is-medium">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if start == True %}
<div class="section">
    <div class="container">
        <article class="message is-info">
            <div class="message-header">
                <p>Court Information</p>
            </div>
            <div class="message-body">
                <p>This page allows you to search <em>only</em> those cases currently scheduled for a future court date in Harris County Criminal Court at Law # 8.</p>
                <p>Official court records are kept by the Harris County District Clerk.</p>
            </div>
        </article>
    </div>
</div>

{% elif results.count == 25  %}
<div class="section">
    <div class="container">
        <article class="message is-warning">
            <div class="message-header">
                <p>More than {{ results.count }} cases found.</p>
            </div>
            <div class="message-body">
                Try narrowing the search using <em>lastname, firstname</em> format.
            </div>
        </article>
    </div>
</div>

{% elif results %}
<div class="section">
    <div class="container">
        <h3 class="title">{{ results.count }} cases found.</h2>
            <h4 class="subtitle">Can't find the case? Try adjusting your search term.
        </h3>
        <p>For a broader search, enter just the first few letters of the last name.</p>

        <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <tr>
                <th>Name</th>
                <th>Case Number</th>
                <th>Next Date</th>
                <th></th>
            </tr>
            {% for r in results %}
            <tr>
                <td style="vertical-align:middle">{{r.defendant_name}}</td>
                <td style="vertical-align:middle">{{r.cause_number}}</td>
                <td style="vertical-align:middle">{{r.next_setting}}</td>
                <td style="text-align: center">
                    <div class="buttons is-centered">
                        <a class="is-blue button" href="{% url 'case_manager:view_case' r.pk %}">
                            <span class="icon">
                                <i class="fas fa-balance-scale" aria-hidden="true"></i>
                            </span>
                            <span class="is-primary">View Case</span>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% elif start is not True %}
<div class="container">
    <h2 class="subtitle">No records found. Try different spellings and hyphenations, or try only the first few letters of the last name.</h2>
</div> {% else %}
<div class="container">
    <h2 class="subtitle"></h2>
</div>
{% endif %}

{% endblock %}
