{% extends "case_manager/base.html" %}
{% block title %}Trial Calendar — {{ block.super }} {% endblock %} 
{% block content %}

<div class="section">
  <div class="container">
    <h1 class="title">Cases set for trial</h1>
    <h2 class="subtitle">
      The following cases are set for jury trial in Court 8. For more
      information, contact the attorney listed for the case.
    </h2>
    <h3>
      Court 8 currently has {{ results.count }} cases scheduled for jury trial.
    </h3>

    <table class="table is-bordered is-striped is-narrow is-fullwidth">
      <tr>
        <th>Name</th>
        <th>Case Number</th>
        <th>Lawyer</th>
        <th>Date</th>
      </tr>
      {% for r in results %}
      <tr>
        <td style="vertical-align: middle">{{r.defendant_name}}</td>
        <td style="vertical-align: middle">{{r.cause_number}}</td>
        <td style="vertical-align: middle">{{r.defense_lawyer}}</td>
        <td style="vertical-align: middle">{{r.next_setting}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
